@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url(./variables.css);

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #242424;
    color: #fff;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
}

.card:hover>.card-popup {
    display: flex;
    height: fit-content;
    padding: 10px;
    transition: all .1s ease-in-out;
}

.card:hover>.card-popup p {
    display: block;
}

.card:hover {
    transform: scale(1.02);
    transition: all .3s ease-in-out;
}

.card-popup {
    position: absolute;
    background-color: var(--primary-colour);
    border-radius: 10px;
    padding: 0;
    bottom: 0;
    height: 0;
    width: 100%;
}

.card-popup p {
    display: none;
    font-weight: 500;
}

.text-blue {
    color: var(--primary-colour);
}

.hero-section-image {
    width: 40rem;
}